button {
  margin: 0.5rem;
  padding: 12px 20px;
  font-size: 22px;
}

.delete-course-button {
  font-weight: 500;
  font-size: 14px;
  margin-left: 12px;
}

.course-name {
  min-width: 100px;
}
