.Auth-container input,
.Auth-container button {
  margin: 0.5rem;
  padding: 12px 20px;
  font-size: 1.4rem;
}

.logged-email {
  font-size: 1.4rem;
}

.Auth-container {
  display: flex;
  justify-content: space-between;
}
