#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #424242 !important;
  color: white !important;
}

.app {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.label {
  margin-bottom: 4px;
}

.topic-container {
  max-width: 300px;
}

.sign-up-container,
.change-password-container,
.verify-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-selection-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.course-selection-container > button {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.4rem;
}

.course-track {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid green;
}

.p1 {
  color: black !important;
}

.pie-charts-container {
  padding-top: 4rem;
  background-color: white;
  border-radius: 5%;
  padding-bottom: 4rem;
}

.average-score-container {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 12px;
}

.container {
  margin-bottom: 100px;
}
